.container {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
}

.letter {
    color: #19f;
    font-size: 100px;
    font-family: Arial, sans-serif;
}

.b {animation-name:b; animation-duration: 1s; animation-delay:0ms;}
.o {animation-name:o; animation-duration: 1s; animation-delay:60ms;}
.u {animation-name:u; animation-duration: 1s; animation-delay:120ms;}
.n {animation-name:n; animation-duration: 1s; animation-delay:180ms;}
.c {animation-name:c; animation-duration: 1s; animation-delay:240ms;}
.e {animation-name:e; animation-duration: 1s; animation-delay:300ms;}

@keyframes b {
    0% {transform: translateY(opx); }
    50% { transform: translateY(-60px);}
    100% {transform: translateY(opx); }
}

@keyframes o {
    0% {transform: translateY(opx); }
    50% { transform: translateY(-60px);}
    100% {transform: translateY(opx); }
}

@keyframes u {
    0% {transform: translateY(opx); }
    50% { transform: translateY(-60px);}
    100% {transform: translateY(opx); }
}

@keyframes n {
    0% {transform: translateY(opx); }
    50% { transform: translateY(-60px);}
    100% {transform: translateY(opx); }}

@keyframes c {
    0% {transform: translateY(opx); }
    50% { transform: translateY(-60px);}
    100% {transform: translateY(opx); }}

@keyframes e {
    0% {transform: translateY(opx); }
    50% { transform: translateY(-60px);}
    100% {transform: translateY(opx); }
}
